# No metas en la imagen lo que no se necesita para buildear
target/
.git/
.gitignore
.gitattributes

# IDE / tooling
.freebuff/
.vscode/
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.springBeans
.apt_generated
.sts4-cache
nbproject/
nbbuild/
nbdist/
.nb-gradle/
build/

# Documentación y notas locales
*.md
*.txt
HELP.md
DEPLOY_RENDER.md

# Logs y archivos del usuario
*.log
*.bak
*.tmp